.home {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 60vh;
  display: grid;
  grid-template-rows: 40vh auto auto;
  row-gap: 3em;
}

.cards {
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  width: 14em;
}
