@import '../styles';

.bgImage {
  background: url('/new-homepage.jpg') no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.homeHeader {
  color: $cultured;
  text-shadow: 2px 2px 4px $eerie-black;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  margin: 0 3rem 0 3rem;
  padding-top: 15rem;
}

.home {
  width: 100%;
  height: auto;
}

.arrowDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.arrowText {
  color: $cultured;
  text-shadow: 2px 2px 4px $eerie-black;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin: 0 3rem 0 3rem;
}

.arrow {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: floor;
  margin-bottom: 2rem;
}

.card {
  width: 25%;
  border: 0.1rem solid $davys-grey !important;
}

.card:nth-child(2) {
  transition-delay: 200ms;
}
.card:nth-child(3) {
  transition-delay: 300ms;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  background-color: $card-bg-color;
}

.card-text {
  color: $card-text-font-color;
}

.card-title {
  color: $card-title-font-color;
  font-weight: bold !important;
}

.card-body>.btn {
  margin-top: auto;
  background-color: $card-btn-bg-color;
  color: $card-btn-font-color;
  font-weight: bold;
  border: none;
}

.card-body>.btn:hover {
  background-color: $card-btn-bg-hover-color;
  color: $card-btn-font-hover-color;
}

@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
