@import '../styles';

.bgImage {
  background: url('/new-homepage.jpg') no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}

.home {
  width: 100%;
  height: auto;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  width: 25%;
  border: 0.1rem solid $davys-grey !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  background-color: $card-bg-color;
}

.card-text {
  color: $card-text-font-color;
}

.card-title {
  color: $card-title-font-color;
  font-weight: bold !important;
}

.card-body>.btn {
  margin-top: auto;
  background-color: $card-btn-bg-color;
  color: $card-btn-font-color;
  font-weight: bold;
  border: none;
}

.card-body>.btn:hover {
  background-color: $card-btn-bg-hover-color;
  color: $card-btn-font-hover-color;
}

.stack {
  margin-top: -13vh;
}

@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1024px) {
  .stack {
    margin-top: -5vh;
  }

  .bgImage {
    margin-top: 10vh;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: 70%;
    margin-bottom: 3vh;
  }

  .stack {
    margin-top: -5vh;
  }

  .bgImage {
    margin-top: 10vh;
  }
}

@media screen and (max-width: 480px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin-bottom: 3vh;
  }

  .stack {
    margin-top: 2vh;
  }

  .bgImage {
    margin-top: 12vh;
  }
}
