@import '../styles';

.footer {
  margin-top: 5vh;
  height: auto;
  position: relative;
  z-index: 100;
  padding: 1vh 0 1vh 0;
  background-color: $footer-bg-color;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  color: $nav-link-color;
}

.nav-link:hover {
  color: $nav-link-hover;
}

.active {
  color: $nav-link-active !important;
}

.active:hover {
  color: $nav-link-hover !important;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  margin: 2vh 30vw 2vh 30vw;
}

.copyright {
  margin-left: 1em;
  text-align: center;
}
